.poster {
    max-width: 350px;
}

.movieDetail {
    display: flex;
    align-items: end;
}

.col {
    display: flex;
    flex-direction: column;
}

.col1 {
    width: 70%;
}

.col2 {
    width: 30%;
}

.description {
    white-space: normal;
    overflow-wrap: break-word;
}
