.poster {
  width: 350px;
  height: 500px;
  border-radius: 1rem;
  box-shadow: 0 0 2rem rgba(255, 255, 255, 0.5);
}

li {
  list-style: none;
  white-space: nowrap;
}

.movieDetail {
  justify-content: space-between;
  padding: 3rem 7rem;
  gap: 3rem;

  h1 {
    font-size: 3rem;
  }
}

.col {
  display: flex;
  flex-direction: column;
}

.info {
  width: 70%;
  gap: 1rem;
}

.creator {
  width: 30%;

  ul {
    display: flex;
    gap: 0.2rem;
    flex-wrap: wrap;
  }
}

.description {
  white-space: normal;
  overflow-wrap: break-word;
}

.row {
  display: flex;
}

.subinfo1 {
  > * {
    background-color: gray;
    padding: 0.3rem 1rem;
    border-radius: 1rem;
    display: flex;
    align-items: center;
    gap: 0.2rem;
  }

  gap: 1rem;
}

.subinfo2 {
  gap: 1.5rem;
  align-items: center;

  > div {
    display: flex;
    align-items: center;
    gap: 0.5rem;
  }

  .imdb {
    color: goldenrod;
    font-size: 3rem;
  }

  .dateIcon {
    font-size: 1.75rem;
  }

  .ageLimit {
    background-color: #f25858;
    color: black;
    height: 1rem;
    padding: 0.7rem;
    border-radius: 1rem;
    font-weight: 600;
  }
}

.icon {
  font-size: 1.5rem;
  display: flex;
  flex-direction: column;
  justify-content: start;
  height: 100%;
}
