.container {
    border-radius: 10px;
    border: 1px white solid;
    padding: 30px;
    margin-bottom: 5rem;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;
    p {
        margin: 0;
        color: #aaa;
        font-size: 0.9rem;
    }
}

.transactionCount {
    display: flex;
    gap: 10px;
    align-items: center;
    font-size: 30px;
}

.filters {
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 30px;
    font-weight: bold;
}

.filterContent {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

.filterContainer {
    border-radius: 10px;
    border: 1px white solid;
    padding: 30px;
    margin-bottom: 50px;
}

.box {
    width: 320px;
    display: flex;
    margin-top: 10px;
}

.transactionContainer {
    display: flex;
    align-items: center;
    border-radius: 10px;
    border: 1px white solid;
    padding: 30px;
    p {
        margin: 0;
        color: #aaa;
        font-size: 0.9rem;
    }
    gap: 50px;
    img {
        width: 150px;
        height: 180px;
        object-fit: cover;
        border-radius: 6px;
    }
}

.transactionDetails {
    display: flex;
    align-items: center;
    justify-content: space-between;
    p1 {
        font-size: 1rem;
    }
    padding: 30px;
}

.detailIcon {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    font-size: 30px;
}

.textBox {
    display: flex;
    flex-direction: column;
    align-items: center;
}