.categoryTab {
    color: white;
    display: flex;
    align-items: center;
    height: 50px;
    gap: 1rem;
}

.active {
    border-bottom: #fb2b2b solid 3px;
    margin-bottom: 1rem;
}

.tab {
    cursor: pointer;
    transition: color 0.3s ease, margin-bottom 0.3s ease, border-bottom 0.3s ease;
}

.tab:not(.active):hover {
    color: #fb2b2b;
}
