.row {
    display: flex;
    align-items: center;
}

.col {
    display: flex;
    flex-direction: column;
}

.datesSlider {
    display: flex;
    justify-content: center;
    background-color: #0d0d0d;
    margin: 0 15rem;
    border-radius: 1rem;
    font-size: 1.5rem;
    height: 12rem;
    justify-content: space-around;
    align-items: center;
    padding: 2rem 0;
    label {
        font-size: 2rem;
    }
}

.datesList {
    position: relative;
    display: flex;
    align-items: center;
    gap: 1rem;
    z-index: 1;
    ul {
        display: flex;
        gap: 3rem;
        align-items: center;
    }
}

.pickingDate {
    font-size: 2rem;
    > div:nth-child(2) {
        font-size: 4.5rem;
    }
}

.unhighlight {
    filter: brightness(50%);
}

.highlightBox {
    position: absolute;
    background-color: gray;
    height: 11rem;
    width: 7rem;
    left: 50%;
    transform: translateX(-50%);
    z-index: -1;
    border-radius: 1rem;
    border: solid white 2px;
}

.cityPickingDropbox {
    gap: 0.5rem;
}

.cityPickingWrapper {
    height: 100%;
    gap: 3rem;
}

.arrow {
    color: #fb2b2b;
}
