.promotionPoster {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 100px;
  img {
    width: 600px;
    height: 450px;
    object-fit: contain;
    user-select: none;
  }
  h2 {
    color: #888;
    font-size: 15px;
    display: block;
    user-select: none;
  }
  h1 {
    color: red;
    font-size: 25px;
    display: block;
    user-select: none;
  }
  span {
    color: white;
    font-size: 15px;
    display: block;
    margin-top: 10px;
    white-space: pre-line;
    user-select: none;
  }
  button {
    width: 200px;
    height: 40px;
    padding: 10px 20px;
    border: 2px red solid;
    border-radius: 1rem;
    margin-top: 20px;
    background-color: black;
    color: red;
    font-weight: bold;
    cursor: pointer;
  }
}

.detailContainer {
  display: flex;
  flex-direction: column;
  border-radius: 1rem;
  border: 2px white solid;
  padding: 20px;
}

.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}
