.col {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.row {
  display: flex;
  gap: 1rem;
}

.seatMap {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #0d0d0d;
  width: 100%;
  border-radius: 1rem;
  margin-left: 3rem;
  padding: 1rem;
  position: relative;
}

.screenWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  position: relative;
}

.screen {
  width: 90%;
  height: 50px;
}

.screenLabel {
  position: absolute;
  bottom: 0;
  font-weight: 600;
}

.seatDefinitionWrapper {
  display: flex;
  bottom: 0;
  justify-content: space-between;
  width: 100%;
}

.seatDefinition {
  align-items: center;
}

.regularSeat {
  border: 1.5px solid white;
  border-radius: 0.5rem;
  width: 2rem;
  height: 2rem;
  transition: background-color 0.3s ease;
}

.coupleSeat {
  border: 1.5px solid white;
  border-radius: 0.5rem;
  width: 4rem;
  height: 2rem;
  transition: background-color 0.3s ease;
}

.takenSeat {
  background-color: #6e6e6e;
  filter: brightness(50%);
}

.selectedSeat {
  background-color: #fb2b2b;
}

.path {
  width: 2rem;
  height: 2rem;
}

.seatLayoutWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin: 2rem 0;

  .regularSeat:not(.takenSeat):hover,
  .coupleSeat:not(.takenSeat):hover {
    cursor: pointer;
  }
}

.seat {
  display: flex;
  justify-content: center;
  align-items: center;
  line-height: 1rem;
  font-weight: 600;
}
