.loginForm {
  display: flex;
  flex-direction: column;
  text-align: center;
  color: white;
  background-color: rgba(0, 0, 0, 0.8);
  align-items: center;
  border-radius: 1rem;
  padding: 2rem 3rem 3rem 3rem;
  width: 600px;
  margin-top: 6rem;
}

.logo {
  padding: 1rem;
  width: 20rem;
}

.welcome,
.subtitle {
  margin: 0;
}

.description {
  font-size: 1.2rem;
  margin: 0.5rem 0 2rem 0;
  white-space: nowrap;
}

.rememberForgetWrap {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.backArrow {
  position: absolute;
  left: 0;
  top: 0;
  font-size: 3rem;
  margin: 1.5rem;
}
