.container {
  background-color: black;
  width: 100vw;
}

.tabWrapper {
  display: flex;
  justify-content: space-between;
  padding: 3rem 7rem;
}

.movieCardSlider {
  margin: 1rem 5rem;
}

.promotions {
  padding: 3rem 7rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  button {
    border-radius: 10px;
    height: 40px;
    padding: 5px 20px;
    font-size: 18px;
    border: 2px #cd5c5c solid;
    background-color: black;
    color: #cd5c5c;
    font-weight: bold;
    cursor: pointer;
  }
  button:hover {
    color: #fb2b2b;
    border: 3px solid #fb2b2b;
    cursor: pointer;
  }
}
