.container {
    background-color: black;
    width: 100vw;
}

.tabWrapper {
    display: flex;
    justify-content: space-between;
    padding: 3rem 7rem;
}

.movieCardSlider {
    margin: 1rem 5rem;
}

.promotions {
    padding: 3rem 7rem;
    display: inline-block;
}
