.viewAllButton {
    background: none;
    border: none;
    color: white;
    border: 3px solid white;
    border-radius: 1rem;
    padding: 0.3rem 2rem;
    transition: color 0.3s ease, border 0.3s ease;
}

.viewAllButton:hover {
    color: #fb2b2b;
    border: 3px solid #fb2b2b;
    cursor: pointer;
}
