.background {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #111111;
  color: white;
  top: 0;
  left: 0;
  width: 100vw;
  height: auto;
}

.profileInformation {
  display: flex;
  align-items: center;
  padding: 40px;
  margin-top: 80px;
  color: #fff5ee;
  background: #000;
}

.profileContent {
  display: flex;
  gap: 40px;
  color: #fff5ee;
  margin-bottom: 50px;
}

.tabs {
  gap: 30px;
  width: 1200px;
  justify-content: space-between;
}

.transaction {
  border-radius: 10px;
  border: 1px #fff5ee solid;
  padding: 30px;
}
