.background {
  background-color: black;
  width: 100%;
  display: flex;
  justify-content: center;
}

.backgroundContainer {
  background-color: #200000;
  display: flex;
  flex-direction: column;
  gap: 100px;
  width: 90%;
  align-items: center;
  padding: 100px;
  h1 {
    color: white;
    font-size: 60px;
  }
}
